<h2>All Symfony2 Form Types - Generated w/Twig</h2>
{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.task) }} <br/>
    {{ form_row(form.textArea) }} <br/>
    {{ form_row(form.dueDate) }}  <br/>
    {{ form_row(form.email) }} <br/>
    {{ form_row(form.integer) }} <br/>
    {{ form_row(form.money) }} <br/>
    {{ form_row(form.number) }} <br/>
    {{ form_row(form.password) }} <br/>
    {{ form_row(form.percent) }} <br/>
    {{ form_row(form.search) }} <br/>
    {{ form_row(form.url) }} <br/>

{{ form_end(form) }}