<!DOCTYPE html>
<html>
    <head>  
      <meta charset="utf-8">
      {% block stylesheets %}
            <link href="{{ asset('bundles/storyadmin/css/ckeditor.css') }}" type="text/css" rel="stylesheet" />
      {% endblock %}
      {% javascripts
      		'@StoryAdminBundle/Resources/public/js/jquery.js'
       %}
       <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script src="/symfony/web/js/ckeditor/ckeditor.js"></script>
		
    </head>
<body>

<h2>Create Page</h2>
<a href="/symfony/web/app_dev.php/story-admin/pages/{{ story.storyId}}">
<img src="/symfony/web/bundles/storyadmin/images/back-icon.png" />
</a>
{{ form_start(form) }}
    {{ form_errors(form) }}
	{{ form_row(form.pageName) }} <br/>
	{{ form_row(form.pageNumber) }} <br/>
	{{ form_row(form.body) }} <br/>
	<script type="text/javascript" charset="utf-8">
		CKEDITOR.replace( 'pageName_body', {
			uiColor: '#1C6BA0'
		});
	</script>
	{{ form_row(form.decision) }} <br/>
	
{{ form_end(form) }}


</body>
</html>