<!DOCTYPE html>
<html>
    <head>  
     	 {{ include('StoryAdminBundle:Story:header/story.header-editor.html.twig') }}
	</head>
<body>
{{ include('StoryAdminBundle:Story:story.nav.html.twig') }}
{% for flashMessage in app.session.flashbag.get('notice') %}
	<!-- FLASH MESSAGE -->
	    <div class="flash-notice">
		    <font color="red"> {{ flashMessage }} </font> 
	    </div>
	<!-- END FLASH MESSAGE -->
{% endfor %}
<div class="container">
  <div class="starter-template">
<h2>Page Update</h2>
<a href="/symfony/web/app_dev.php/story-admin/pages/{{ storyId }}">
<img src="/symfony/web/bundles/storyadmin/images/back-icon.png" />
</a>

{{ form_start(form) }}
    {{ form_errors(form) }}
	{{ form_row(form.pageName) }} <br/>
	{{ form_row(form.pageNumber) }} <br/>
	{{ form_row(form.body) }} <br/>
	<script type="text/javascript" charset="utf-8">
		CKEDITOR.replace( 'pageName_body', {
			uiColor: '#1C6BA0'
		});
	</script>
	{{ form_row(form.choice1) }} 
	{{ form_row(form.choice2) }}
	{{ form_row(form.choice3) }} 
	{{ form_row(form.choice4) }}  
{{ form_end(form) }}

</div></div>
</body>