<!DOCTYPE html>
<html>
    <head>  
       {{ include('StoryAdminBundle:Story:header/story.header-editor.html.twig') }}
    </head>
<body>
{{ include('StoryAdminBundle:Story:story.nav.html.twig') }}

<div class="container">
<div class="starter-template">
<h2>Create Story</h2>
<a href="/symfony/web/app_dev.php/story-admin">
<img src="/symfony/web/bundles/storyadmin/images/back-icon.png" />
</a>
{{ form_start(form) }}
    {{ form_errors(form) }}
	{{ form_row(form.storyName) }} 
	{{ form_row(form.author) }}<br/>
	{{ form_row(form.description) }} 
	<script type="text/javascript" charset="utf-8">
			CKEDITOR.replace( 'storyName_description', {
				uiColor: '#1C6BA0'
			});
		</script>
	<br/>
{{ form_end(form) }}
</div></div>
 {{ include('StoryAdminBundle:Story:header/common.footer.html.twig') }}
</body>




</body>
</html>
