<!DOCTYPE html>
<html>
    <head>  
        {{ include('StoryAdminBundle:Story:header/story.header.html.twig') }}
	</head>
<body id="dt_example">
{{ include('StoryAdminBundle:Story:story.nav.html.twig') }}
{% for flashMessage in app.session.flashbag.get('notice') %}
	<!-- FLASH MESSAGE -->
	    <div class="flash-notice">
		    <font color="red"> {{ flashMessage }} </font> 
	    </div>
	<!-- END FLASH MESSAGE -->
{% endfor %}
	<!--
	<h3>Live Stories</h3>
	<p><a href="/symfony/web/app_dev.php/story-admin/create">Create New Story</a></p>
	-->
<div class="container">
<div class="starter-template">
<div id="demo">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
	<thead>
		<tr>
			<th>Story</th>
			<th>Author</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for story in stories %}
		<tr class="odd gradeC">
			<td class="center"><a href="/symfony/web/app_dev.php/story-admin/update/{{ story.id }}">{{ story.storyName }}</a>
    		</td>
			<td class="center">{{ story.author }}</td>
			<td class="center">{{ story.description }}</td>
			<td class="center">
			<a href="/symfony/web/app_dev.php/story-admin/pages/{{ story.id }}">
			<img src="{{ asset('bundles/storyadmin/images/page_icon.png') }}" /></a>&nbsp;
			<img src="{{ asset('bundles/storyadmin/images/json.png') }}" />&nbsp;
			<!-- <img src="{{ asset('bundles/storyadmin/images/callback.jpg') }}" />&nbsp; -->
			<a href="/symfony/web/app_dev.php/story-admin/delete/{{ story.id }}"><img src="{{ asset('bundles/storyadmin/images/delete16x16.gif') }}" /></a>&nbsp;
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Story</th>
			<th>Author</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</tfoot>
</table>
</div>
</div>

</div>
</body>
</html>
