<!DOCTYPE html>
<html>
    <head>  
        {% block stylesheets %}
            <link href="{{ asset('bundles/storyadmin/css/nav.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/storyadmin/css/demo_table.css') }}" type="text/css" rel="stylesheet" />
    
        {% endblock %}
        {% javascripts
        	'@StoryAdminBundle/Resources/public/js/jquery.js'
    		'@StoryAdminBundle/Resources/public/js/jquery.dataTables.js'	
    	%}
    		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
		</script>
{{ include('StoryAdminBundle:Story:story.nav.html.twig') }}
<body id="dt_example">

<h1>Story Tool</h1>

	{% for flashMessage in app.session.flashbag.get('notice') %}
		<!-- FLASH MESSAGE -->
	    <div class="flash-notice">
	       <font color="red"> {{ flashMessage }} </font> 
	    </div>
		<!-- END FLASH MESSAGE -->
	{% endfor %}
	<!--
	<h3>Live Stories</h3>
	<p><a href="/symfony/web/app_dev.php/story-admin/create">Create New Story</a></p>
	-->
<div id="demo">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
	<thead>
		<tr>
			<th>Story</th>
			<th>Author</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for story in stories %}
		<tr class="odd gradeC">
			<td class="center"><a href="/symfony/web/app_dev.php/story-admin/update/{{ story.id }}">{{ story.storyName }}</a>
    		</td>
			<td class="center">{{ story.author }}</td>
			<td>{{ story.description }}</td>
			<td class="center">
			<a href="/symfony/web/app_dev.php/story-admin/pages/{{ story.id }}">
			<img src="{{ asset('bundles/storyadmin/images/page_icon.png') }}" /></a>&nbsp;
			<img src="{{ asset('bundles/storyadmin/images/json.png') }}" />&nbsp;
			<!-- <img src="{{ asset('bundles/storyadmin/images/callback.jpg') }}" />&nbsp; -->
			<a href="/symfony/web/app_dev.php/story-admin/delete/{{ story.id }}"><img src="{{ asset('bundles/storyadmin/images/delete16x16.gif') }}" /></a>&nbsp;
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Story</th>
			<th>Author</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</tfoot>
</table>

</div>
</body>
</html>
