<!DOCTYPE html>
<html>
    <head>  
       {{ include('StoryAdminBundle:Story:header/story.header-editor.html.twig') }}
    </head>
<body>
{{ include('StoryAdminBundle:Story:story.nav.html.twig') }}

<div class="container">
<div class="starter-template">
<h2>Create Story</h2>
<a href="/symfony/web/app_dev.php/story-admin">
<img src="/symfony/web/bundles/storyadmin/images/back-icon.png" />
</a>
{{ form_start(form) }}
    {{ form_errors(form) }}
	 <div>
        {{ form_label(form.storyName) }}
        {{ form_errors(form.storyName) }}
        {{ form_widget(form.storyName) }}
    </div>
	 <div>
        {{ form_label(form.author) }}
        {{ form_errors(form.author) }}
        {{ form_widget(form.author) }}
    </div>
    <div>
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
	<script type="text/javascript" charset="utf-8">
			CKEDITOR.replace( 'storyName_description', {
				uiColor: '#1C6BA0'
			});
		</script>
	<br/>
{{ form_end(form) }}
</div></div>
 {{ include('StoryAdminBundle:Story:header/common.footer.html.twig') }}
</body>




</body>
</html>
