<!DOCTYPE html>
<html>
    <head>  
        {% block stylesheets %}
            <link href="{{ asset('bundles/storyadmin/css/demo_page.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/storyadmin/css/demo_table.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% javascripts
        	'@StoryAdminBundle/Resources/public/js/jquery.js'
    		'@StoryAdminBundle/Resources/public/js/jquery.dataTables.js'	
    	%}
    		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable( {
					"sDom": '<"top"i>rt<"bottom"flp><"clear">'
				} );
			} );
		</script>
      	
<body>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        <font color="red"> {{ flashMessage }} </font>
    </div>
{% endfor %}
<h2>Stories</h2><br/>
<h4><a href="/symfony/web/app_dev.php/story-admin/create">Create New Story</a></h4><br/>
{% for story in stories %}
    <a href="/symfony/web/app_dev.php/story-admin/update/{{ story.id }}">
        {{ story.storyName }}
    </a><br/>
{% endfor %}
</body>
</html>